*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}


body{
    width: 100vw;
    height: 100vh;
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.container{
    /* background-color: white; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.watch{

    width: 100vw;
    display: flex;
    position: relative;
    top: 170px;
    margin: 0 0;
    justify-content: center;
    align-items: center;
}

.outer-circle{
    width: 414px;
    height: 414px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at center,transparent,rgba(255, 255, 255, 0.121)); 
    
}


.inner-circle{
    width: 389px;
    height: 389px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.dotted-circle{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 5px dotted rgba(255, 255, 255, 0.388);

}


.timer{
    font-size: 40px;
}

.text-min{
    color: white;
    font-size: 40px;
}

.text-sec{
    color: white;
    font-size: 40px;
}


.text-ms{
    color: white;
    font-size: 40px;
}


.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 160px;

}


.btn img{
    width: 90px;
    height: 90px;
    cursor: pointer;
    background-color: rgba(83, 82, 82, 0.351);
    border-radius: 50%;
}


.mark{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 5px 5px;
    margin: 40px;
}

.mark img{
    width: 78px;
    height: 78px;
}

.play{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 5px 5px;
    margin: 40px;
}

.play img{
    width: 78px;
    height: 78px;
}

.pause{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 5px 5px;
    margin: 40px;
}

.pause img{
    width: 78px;
    height: 78px;
}

.reset{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    padding: 5px 5px;
    margin: 40px;
}

.reset img{
    width: 78px;
    height: 78px;
}

.laps{
    height: 300px;
    overflow: auto;
    list-style: none;
    color: white;
    position: relative;
    padding: 20px 0;
    top: 154px;
}


.laps::-webkit-scrollbar{
    display: none;
}


.btn img:hover{
    background-color: rgba(100, 97, 97, 0.59);
    border-radius: 50%;
}


.lap-item{
    display: block;
    width: 509px;
    padding: 12px; 
    text-align: center;
    border: 0.5px solid rgba(255, 255, 255, 0.256);
    border-radius: 50px;
    position: relative;
    font-size: 16px;
}


.lap{
    font-size: 33px;
    list-style: none;
    color: white;
    position: relative;
    right: 134px;
}


.lap-time{
    font-size: 33px;
    color: white;
    display: inline-block;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -146px;


}


/* .total{
    display: inline-block;
    margin-left: 25px;
    position: relative;
    left: 142px;
}  */

.hidden{
    visibility: hidden;
}

@media only screen and (max-width:660px){
    .outer-circle{
        width: 300px;
        height: 300px;
    }

    .inner-circle{
        width: 285px;
        height: 285px;
    }

    .dotted-circle{
        width: 269px;
        height: 269px;
    }

    .text-min {
        font-size: 30px;
    }

    .text-sec{
        font-size: 30px;
    }

    .text-ms{
        font-size: 30px;
    }

    .mark{
        width: 50px;
        height: 50px;
        padding: 3px 3px;
    }
    
    .mark img{
        width: 41px;
        height: 41px;
    }
    
    .play{
        width: 50px;
        height: 50px;
        padding: 3px 3px;
    }
    
    .play img{
        width: 41px;
        height: 41px;
    }
    
    .pause{
        width: 50px;
        height: 50px;
        padding: 3px 3px;
    }
    
    .pause img{
        width: 41px;
        height: 41px;
    }
    
    .reset{
        width: 50px;
        height: 50px;
        padding: 3px 3px;
    }
    
    .reset img{
        width: 41px;
        height: 41px;
    }

    .lap{
        font-size: 20px;
    }

    .lap-time{
        font-size: 20px;
    }
}

@media only screen and (max-width: 500px)
{   
    .watch{
        position: relative;
        top: 81px;
    }
    .mark{
        margin: 20px;
    }

    .play{
        margin: 20px;
    }

    .pause{
        margin: 20px;
    }

    .reset{
        margin: 20px;
    }
    
    /* .laps{
        width: 108vw;
    } */

    .laps {
        height: 300px;
        overflow: auto;
        list-style: none;
        color: white;
        position: relative;
        padding: 20px 0;
        top: 154px;
    }

    .lap-item{
        width: 409px;
        padding: 9px 0px;
    }

    .lap{
        right: 94px;
    }

    .lap-time{
        right: -71px;
    }
}